-- the host (ip or hostname) on which the service will listen (default: localhost)
host = 'localhost'

-- the port on which the service will listen (defaul: 9090)
port = 9090

-- the folder where static files are located (default: ./static/)
html_root = './html/'

-- the domain, which is shown on the html page (default: localhost)
domain = 'localhost'
