[Unit]
Description=Whats my IP address service
After=network.target

[Service]
User=wmia
WorkingDirectory=/home/wmia/whats-my-ip-address
ExecStart=/usr/bin/lua5.3 wmia.lua
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target